/vault
*.Rproj
*.pdf
*.jpg
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
*.ppt
*.pptx
thumbs.db
